{% extends 'base.html' %}


{% block content %}

<h2>Sign Up!</h2>

    <form method="post" action="{% url 'users:signup' %}">
        {% csrf_token %}
        {{ form.errors }}

        {{ form.as_p }}
{#        <table>#}
{#        <tr>#}
{#            <td>Username</td>#}
{#            <td><input type="text" name="username"/></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Password</td>#}
{#            <td><input type="password" name="password"></td>#}
{#        </tr>#}
{##}
{#        <tr>#}
{#            <td>Password Again</td>#}
{#            <td><input type="password" name="password2"></td>#}
{#        </tr>#}
{#        </table>#}

        <input type="submit" value="Signup">
    </form>

    <p><a href="{% url 'users:login' %}">Already Have an Account? Login.</a></p>

{% endblock content %}