.alerts-button{
    color: #000530;
    background-color: whitesmoke;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 3px;
}

.btn-primary{
    color: #174C58;
    background-color: whitesmoke;
    border: 1px solid #174C58;
    margin: 5px;
    text-transform: uppercase;
}



